body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --yellow-theme-background-color:#9b3a0d;
  --yellow-theme-main-color:#ffdd40;
  --yellow-theme-ain-color:#20095e;
  --yellow-theme-sub-text-color:#a8d6d8;
  --yellow-theme-subtitle-text-color:#e2f06a;

  --yellow-theme-nav-background-color:#3b0b04;
}
